{
  "arrowParens": "always",
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "none",

  "importOrderSeparation": true,
  "importOrder": ["^[^.](.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
